/*
Theme Name: Z Boom Music
Theme URI: https://sahmednaim.com/
Author: S Ahmed Naim
Author URI: https://sahmednaim.com/
Description: The 2018 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: In The Clouds

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.comment-body .comment-author {
	width: 30px;
	height: 30px;
}

.right-sidebar {
	background-color: #1E1E1E;
	margin-left: 0px !important;
	padding-left: 20px;
}

.one-half {
	width: 50%;
	float: left;
	overflow: hidden;
}
